.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.justify-space-between{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
@font-face {
    font-family: "dana-med";
    src: url(../assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2) ;
}
@font-face {
    font-family: "dana-bold";
    src: url(../assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2) format("woff2");
}
@font-face {
    font-family: "dana-reg";
    src: url(../assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2);
}
.font-dana{
    font-family: "dana-med";
}
.font-25rem{
    font-size: 2.5rem;
  }
  .font-15rem{
    font-size: 1.5rem;
  }
.padding-1{
    padding: 1rem;
}
.padding-5{
    padding: 0.5rem;
}
.font-12rem{
    font-size: 1.2rem;
  }
.padding-buttont-1{
    padding-bottom: 1rem;
}