@import url("/styles/_utlils.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "dana-med";
  transition: all 0.2s linear;
}
html{
  overflow-x: hidden; 
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}
:root {
  --colorMain: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --textColor: #fff;
  --border: 1px solid #fff;
}
.head{
  position: fixed;
  right: 0;
  left: 0;
  border-bottom: var(--border);
}
.container{
  background-color: black;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
.header-background-img{
    background-image: url(../assets/images/home-img.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-logo{
    width: 3.5rem;
    height: 3.5rem;
}
.icons-head{
  gap: 0.7rem;
}
.icons-head i{
  color: var(--textColor);
  font-size: 1.2rem;
  cursor: pointer;
}
.icons-head i:hover{
  color: var(--colorMain);
}
.nav{
  gap: 1rem;

}
.nav a{
  text-decoration: none;
  color: var(--textColor);
  font-size: 1.2rem;
}
.nav a:hover{
  border-bottom: 1px solid var(--colorMain);
  color: var(--colorMain);
  padding-bottom: 0.3rem;
}
#menu-btn {
  display: none;
}

.search-form {
  position: absolute;
  top: 115%;
  left: 7%;
  width: 32rem;
  height: 3rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}
.search-form.active {
  transform: scaleY(1);
}
.search-form input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: var(--bg);
  padding: 1rem;
}
.search-form label {
  color: #eeeeeeb9;
  margin-left: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
  border: var(--border);
  font-size: 1.7rem;
}